.card-footer .btn.btn-danger{
    margin-left: 10px;
}

.card-footer .btn{
    width: 80px;
}

.card img{
    cursor: pointer;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.8);
    z-index: 1000000;
}
.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
}
.popup_box{
    position: relative;
    width: 100%;
    height: 100%;
}
.popup_box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.close{
    position: absolute;
    top: -20px;
    right: -18px;
    font-size: 34px;
    line-height: 30px;
    color: #333;
    border: 1px solid #656565;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    z-index: 1000000;
    background-color: #d7d7d7 !important;
}

.form-control-label{
    display: block;
}

.checkbox-inline,
.radio-inline{
    margin-right: 10px;
    cursor: pointer;
}

.checkbox-inline > input,
.radio-inline > input{
    vertical-align: top;
    margin-top: 6px;
}

.option-category{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}

.mgl10{
    margin-left: 10px;
}